//COLOURS

/* 
COLOURS:

Light green: #7ed567;
Medium green: #55c57a;
Dark green: #28b485;

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-black: #000;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-darker: #999;
$color-grey-darkest: #333;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #cc7df7;
$color-tertiary-dark: #cc571b;


$color-tertiary-light-3: #621951;
$color-tertiary-dark-3: #61fed9;

$color-grad-1: #12c2e9;
$color-grad-2:#c471ed;
$color-grad-3:#f64f59;

$color-grad-a: #c6ffdd;
$color-grad-b: #fbd786;
$color-grad-c: #f7797d;

$color-grad-i: #833ab4;
$color-grad-ii: #fd1d1d;
$color-grad-iii: #fcb045;

//GRID  
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT-SIZE
$default-font-size: 1.6rem;